<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="tests" name="Suite">

	 <listeners>
		<listener class-name="com.report.RetryListeners" />
		<listener class-name="com.report.TestListener" />
	</listeners> 
	
	<test name="Test Exmaple">
		<classes>
			<class name="com.selenium.tests.TestExample" />
		</classes>
	</test> 
</suite> <!-- Suite -->
